<a href="https://colab.research.google.com/github/Danishmomin7/Enterprises-Agent/blob/main/Innomatics_GenAI_Entrance_Test_Danish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json
import sqlite3

In [12]:
orders = pd.read_csv('orders.csv')

In [4]:
with open('users.json', 'r') as f:
    users_data = json.load(f)
users = pd.DataFrame(users_data)

In [5]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [6]:
with open('restaurants.sql', 'r') as f:
    sql_script = f.read()
cursor.executescript(sql_script)
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)

In [7]:
merged_step1 = pd.merge(orders, users, on='user_id', how='left')

In [8]:
final_df = pd.merge(merged_step1, restaurants, on='restaurant_id', how='left')

In [9]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

In [10]:
hyd_rev = final_df[final_df['city'] == 'Hyderabad']['total_amount'].sum()
print(f"Hyderabad Total Revenue is: {round(hyd_rev)}")

Hyderabad Total Revenue is: 1889367